.hamburger{
	display:none;
	cursor:pointer;
	padding: 10px;
	z-index:100;
}
.hamburger span{
	display:block;
	width:28px;
	height:3px;
	background:white;
	margin: 5px 0;
	transition:0.3s ease;
	border-radius:2px;
}
@media(max-width:600px){
	
	.hamburger{display:block;}

	.nav-toggle
	{
		position:absolute;
		opacity:0;
		width:0;
		height:0;
	}
	.nav-menu
	{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		/*height:100vh;*/
		background:black;
		/*max-height:0;
		overflow:hidden;*/
		transition:transform 0.4s ease;
		transform: translateY(-200%);
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		margin-top: 20rem;
		visibility:none;
		z-index:1000;
	}
	#nav-toggle:checked ~ .nav-menu
	{
		/*max-height:400px;*/
		transform:translateY(0);
		visibility:visible;
	}
	.nav-menu ul
	{
		flex-direction:column;
		padding:0;
		margin:0;
	}
	.nav-menu ul li
	{
		width:100%
		text-align:center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin:0.25rem 0;
	}
	.nav-menu ul li a
	{
		display:block;
		padding:1.2rem;
		color:white;
		text-decoration:none;
		font-size: 1.4rem;
		transition:background 0.3s;
	}
	.nav-menu ul li a:hover{background: rgba(255, 255, 255, 0.1);}
	#nav-toggle:checked ~ .hamburger span:nth-child(1)
	{transform:rotate(45deg) translate(6px, 6px);}
	#nav-toggle:checked ~ .hamburger span:nth-child(2)
	{opacity:0;}
	#nav-toggle:checked ~ .hamburger span:nth-child(3)
	{transform:rotate(-45deg) translate(6px, -6px);}
	
	main.hide{display:none;}
}
@media(min-width:601px){
	.hamburger, #nav-toggle{display:none;}
	.nav-menu{all: unset;}
}