.Project,
#responsibilities,
#codeSnippets{
	width:100%;
	margin:0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
}
.Project{
	text-align:center;
	color:white;
	/*font-size:30px;*/
	font-size:clamp(1.2rem, 3vw, 1.6rem);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#projectText{
	font-size:clamp(1.25rem. 2.5vw, 1.5rem);
	/*display:inline-block;*/
	max-width:980px;
	color:white;
	background: rgba(23,17,20,0.6);
}
#responsibilities{
	display:flex;
	background-color:dimgrey;
	color:white;
	justify-content:center;
	/*font-size:25px;*/
	font-size:clamp(1.2rem, 3vw, 1.6rem);
	flex-wrap:wrap;
}

.resContent{
	/*font-size:20px;*/
	font-size:clamp(1rem, 2.5vw, 1.25rem);
}
.resList{
	padding: 10 0;
}
iframe{
	width:100%;
	height: auto;
	aspect-ratio: 16/9;
	max-width:980px;
}
#codeSnippets{
	background: rgba(0,0,0,.3);
	color:white;
	display:flex;
	align-items:center;
	flex-direction:column;
	box-sizing: border-box;
	/*padding: 30px;*/
	padding: 2rem 1rem;
  	gap: 20px;
	/*margin:auto;*/
	/*max-width:1200px;*/
	max-width:1200px;
}
#codeSnippets h2{
	/*font-size:40px;*/
	font-size:clamp(2rem, 5vw, 2.5rem);
	text-align:center;
}
.codeBtn{
	/*width:900px;
	height:75px;*/
	position:sticky;
	top:0;
	width:100%;
	max-width: 900px;
	height: auto;
	min-height: 60px;
	padding:0.8rem 1rem;
	font-size:clamp(1rem, 2.5vw, 1.25rem);
	/*font-size:20px;*/
	/*margin: 0 auto 20px auto;*/
	z-index:1;
}
.codeSect{
	color:white;
	max-height:0px;
	opacity:0;
	overflow:hidden;
	/*display:none;*/
	max-width:900px;
	text-align:center;
	transition:
		max-height 0.6s ease,
		opacity 0.5s ease;
}
.codeSect.show{
	max-height: 1200px;
	opacity:1;
	display:inline-block;
}
.codeBox{
	box-sizing: border-box;
	max-width:895px;
	width:100%;
	/*max-height:850px;
	padding: 20px;*/
	max-height:90vh;
	padding: 1rem;
	background: rgba(85, 181, 165, 0.5);
	display:inline-block;
	overflow:hidden;
}
.codeBox .gist .gist-data{
	overflow:auto;
	max-height: 700px;
	max-width:890px;
	border: 1px;
	margin: 0;
}
.code{
	display:none;
	opacity:0;
}
.code.show{
	display:block;
	opacity:1;
}
.code .gist .gist-data{
	overflow:auto;
	max-height: 700px;
	max-width:890px;
	border:1px;
	margin:0;
}
.codetab{
	z-index:1;
}
.tabText{
	background-color:grey;
	margin: 0.5rem auto;
	padding: 1rem;
}
.tabText.select{
	background-color:#04AA6D;
}
@media(max-height:600px)
{
	.codeSect.show{max-height:2400px;}
	.codeSect p{max-width:200px;}
}