.project{
	box-sizing:border-box;
	max-width:616px;
	width:100%;
	color:white;
	font-size:clamp(1rem, 2.5vw. 1.25rem);
	position:relative;
	padding: 1rem 1rem;
	margins:10rem auto;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.projTitle{
	color:white;
	font-size:clamp(2rem, 6vw, 3.75rem);
	position:absolute;
	bottom:-3rem;
	text-shadow: 0 0 20px #42424F;
	width:100%;
}
p{
	/*text-align:center;*/
	margin: 1rem 0 0;
	line-height: 1.5;
}
.project button {
    	max-height:353px;
    	height: 100%;
		aspect-ratio:7/4;
    	padding-bottom: 56.25%;
    	background-size: cover;
    	background-position: center;
    	border: 4px outset grey;
    	position: relative;
    	cursor: pointer;
    	display: block;
    	margin: 0 auto;
    	transition: transform 0.3s ease;
}
.rows{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:20rem;
}
@media (max-width: 600px) {
    	.project {
        	position: static;
        	width: 100%;
        	max-width: 616px;
        	margin: 2rem auto;
        	float: none;
    	}
    	.rows
		{
		flex-direction:column;
		gap:1rem;
		}
    	.project button 
		{
        	height: auto;
        	padding-bottom: 56.25%;
    	}
		.projectTitle{bottom:3rem;}
}
