body{
	background-color: black;
}
header{
	background-color:black;
	color:white;
	position:sticky;
	z-index:10;
	top:0;
}
main{
	background-image: url("../Images/BrickWall.png");
}
h1{
	border-bottom-style:solid;
	border-color:white;
}
header h4{
	background-color:black;
}
header h4 ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
}
header h4 ul li {
	float:left;
	padding: 14px 16px;
	display: block;
}
header h4 ul li a {
	text-align:center;
	text-decoration:none;
}
footer{
	position:sticky;
	top: 75%;
	text-align:center;
	/*font-size:20;*/
	font-size:clamp(1.2rem, 3vw, 1.6rem);
	display:flex;
	flex-direction:column;
	align-items:center;
}
footer h3{
	color:white;
}
@media (max-width: 600px) {
    	header h4 ul { flex-direction: column; }
    	header h4 ul li { float: none; text-align: center; }
}
