.project{
	box-sizing:border-box;
	max-width:616px;
	width:100%;
	color:white;
	font-size:clamp(1rem, 2.5vw. 1.25rem);
	position:relative;
	padding: 1rem 1rem;
	margins:10rem auto;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.projTitle{
	color:white;
	font-size:clamp(2rem, 6vw, 3.75rem);
	position:relative;
	transform:translate(0, 320%);
	text-shadow: 0 0 20px #42424F;
	width:100%;
}
p{
	/*text-align:center;*/
	margin: 1rem 0 0;
	line-height: 1.5;
}
.project button {
    width: 100%;
    max-height:353px;
    height: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    border: 4px outset grey;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}
#Descendancy {
	float:left;
	top: 10%;
}

#Zwerginnen {
    float:right;
    top: 10%;
}
@media (max-width: 600px) {
    	.project {
        	position: static;
        	width: 100%;
        	max-width: 616px;
        	margin: 2rem auto;
        	float: none;
    	}

    	#Project-Descent {
		float:none;
        	transform: none;
        	left: auto;
        	top: auto;
    	}
	#Descendancy {
		float:none;
        	transform: none;
        	left: auto;
        	top: auto;
	}

	#Zwerginnen {
    		float:none;
        	transform: none;
        	left: auto;
        	top: auto;
	}

    	.project button {
        	height: auto;
        	padding-bottom: 56.25%;
    	}
}