main{
	display:flex;
	justify-content:center;
	align-items: center;
	min-height: 80vh;
	padding:2rem;
}
#resume{
	max-width:900px;
	width:100%;
	aspect-ratio:3/4;
}
#resume iframe{
	width:100%;
	height:100%;
	display:block;
}
@media (max-width: 600px) {
    	#resume{
        	/*aspect-ratio: auto;*/
		aspect-ratio:3/4;
        	height: 80vh;
        	/*max-height: 1000px;*/
    	}
    
    	main{
        	padding: 1rem;
    	}
}